.vscode
cjw
source
mpi_demo
omp_demo
hostfile
homework/common/fox
homework/common/myallgather
homework/common/server
homework/group/MPI/14-1-KMP/gen_ped
homework/group/MPI/14-1-KMP/kmp
homework/group/MPI/14-1-KMP/match_result
homework/group/MPI/18-1-transpose/gen_matrix
homework/group/MPI/18-1-transpose/transpose
homework/group/MPI/18-1-transpose/dataIn_bk.txt
homework/group/MPI/22-2-dwt/dwt
homework/group/MPI/22-2-dwt/gen